<lb-auth-container *ngIf="!done">
    <lb-auth-content>
        <h1>Password Recovery</h1>

        <p>
            <span>We will use your email to find the associated account and send you an email.</span>
        </p>

        <form [formGroup]="form" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="text" spellcheck="false" name="email">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Make sure to enter your email correctly.</mat-hint>
                <mat-error>Please enter your email!</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">
                <span *ngIf="isLoading">Please wait...</span>
                <span *ngIf="!isLoading">Recover My Password</span>
            </button>
        </form>

        <lb-auth-footer>
            <p>
                <span>Do you have an account? </span>
                <a routerLink="/authentication/signin">sign in now!</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>

<lb-auth-container *ngIf="done">
    <lb-auth-content>
        <h1>Check Your Inbox</h1>

        <p>
            If we find an account associated with this email we will send you an email that
            contains the reset password link.
        </p>

        <form>
            <a routerLink="/authentication/signin" mat-flat-button color="primary">
                Let's Go back
            </a>
        </form>

        <lb-auth-footer>
            <p>
                <span>Don't have a account yet? </span>
                <a routerLink="/authentication/signup"> sign up now!</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>