<lb-auth-container>
    <lb-auth-content>
        <h1>Something Is Wrong!</h1>

        <p>
            <span>You might have a incorrect link or your password recovery link is expired.</span>
            <span>Try recovering your password again.</span>
        </p>

        <form>
            <a routerLink="/authentication/signin" mat-flat-button color="primary">
                Let's Go Back
            </a>
        </form>

        <lb-auth-footer>
            <p>
                <span>Have any questions? Send an email to </span>
                <a href="mailto:loxabeat@gmail.com">loxabeat@gmail.com</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>