<lb-auth-container *ngIf="!done">
    <lb-auth-content>
        <h1>Reset Password</h1>

        <p>
            <span>Now you can easily reset your password.</span>
            <span>The password should include at least 6 characters.</span>
        </p>

        <form [formGroup]="form" (submit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="password" type="password" spellcheck="false" name="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Choose a new password for yourself.</mat-hint>
                <mat-error>Please enter your new password!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password" name="confirmPassword">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Type your password again to confirm it.</mat-hint>
                <mat-error *ngIf="form.value.password && form.value.password !== form.value.confirmPassword">
                    <span>The passwords do not match together!</span>
                </mat-error>
                <mat-error *ngIf="!form.value.password">
                    <span>Please enter your new password again!</span>
                </mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">
                <span *ngIf="isLoading">Please wait...</span>
                <span *ngIf="!isLoading">Set New Password</span>
            </button>
        </form>

        <lb-auth-footer>
            <p>
                <span>Have any questions? Send an email to </span>
                <a href="mailto:loxabeat@gmail.com">loxabeat@gmail.com</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>

<lb-auth-container *ngIf="done">
    <lb-auth-content>
        <h1>Password Changed!</h1>

        <p>
            Your password is now changed and you can sign in using your new credentials.
        </p>

        <form>
            <a mat-flat-button color="primary" routerLink="/authentication/signin">
                Sign In Now!
            </a>
        </form>

        <lb-auth-footer>
            <p>
                <span>Have any questions? Send an email to </span>
                <a href="mailto:loxabeat@gmail.com">loxabeat@gmail.com</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>