<div class="lb-navbar">
    <div class="container lb-navbar__content">
        <div class="left-side">
            <div class="center">
                <button class="menu-btn" mat-icon-button (click)="onMenu()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div class="lb-navbar__brand">
                <img src="assets/images/logo-dark.svg" alt="Loxabeat">
                <strong>LoxaBeat</strong>
            </div>

            <ng-content select=".lb-navbar__menu-list"></ng-content>
        </div>

        <ng-content select=".lb-user-info"></ng-content>
    </div>
</div>