<lb-auth-container>
    <lb-auth-content>
        <h1>All Done!</h1>
        <p>
            <span>Congrats! You just activated your account.</span>
            <span>Now let's sign in and submit your first artwork!</span>
        </p>

        <form>
            <a routerLink="/authentication/signin" mat-flat-button color="primary">
                Sign In Now!
            </a>
        </form>

        <lb-auth-footer>
            <p>
                <span>Have any questions? Send an email to </span>
                <a href="mailto:loxabeat@gmail.com">loxabeat@gmail.com</a>
                <span>.</span>
            </p>
        </lb-auth-footer>
    </lb-auth-content>
</lb-auth-container>