<div class="audio-media-item">
    <div class="upload-info">
        <mat-icon *ngIf="(uploadMedia?.progress | async) != 100" class="rotate-animation">sync</mat-icon>
        <mat-icon *ngIf="(uploadMedia?.progress | async) == 100">done</mat-icon>
        <div class="file-name truncate">
            <span *ngIf="uploadMedia?.inProgress | async">Uploading </span>
            <span>{{uploadMedia?.file?.name}}</span>
        </div>
        <div class="spacer"></div>
        <span>{{uploadMedia?.progress | async}}%</span>
    </div>
    <mat-progress-bar [mode]="'determinate'" [value]="uploadMedia?.progress | async"></mat-progress-bar>
</div>