.audio-media-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: rgba($color: #fff, $alpha: 0.05);
    margin-bottom: 16px;

    .upload-info {
        padding: 16px;
        display: flex;
        font-size: 0.9em;
        align-items: center;

        .file-name {
            max-width: 66%;
        }
    }

    .spacer {
        flex: 1;
    }

    mat-icon {
        margin-right: 24px;

        &.rotate-animation {
            animation-name: rotate;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}