@import '../../../styles/abstracts/mixins';

.lb-profile-page {
    gap: 3%;
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    align-items: stretch;
    flex-direction: column;

    &__profile-info {
        flex: 1;

        .profile-banner {
            gap: 16px;
            display: flex;
            align-items: center;

            .picture {
                width: 48px;
                height: 48px;
                font-weight: 400;
                font-size: 1.2em;
                border-radius: 50%;
                color: rgba(#fff, $alpha: 0.6);
                background: rgb(60, 60, 60);
            }

            .username {
                font-size: 0.9em;
                color: rgba(#fff, $alpha: 0.78);
            }
        }
    }

    &__tracks {
        flex: 3;

        h1 {
            font-size: 1.5em;
        }

        .empty-list-placeholder {
            color: rgba(#fff, $alpha: 0.78);
        }
    }

    >section {
        padding: 24px 0;
        padding-top: 0;
        border-radius: 3px;
    }
}

@include for-tablet-landscape-up {
    .lb-profile-page {
        flex-direction: row;

        >section {
            padding: 24px 0;
            border-radius: 3px;
        }
    }
}