<main class="container lb-profile-page">
    <section class="lb-profile-page__profile-info">
        <h2>Profile</h2>
        <div class="profile-banner">
            <div class="picture center">{{fullName[0]}}</div>
            <div class="details">
                <div class="name">{{fullName}}</div>
                <div class="username">@{{username}}</div>
            </div>
        </div>
    </section>

    <section class="lb-profile-page__tracks">
        <h1>{{firstName}}'s Tracks</h1>

        <div class="empty-list-placeholder">
            <p>
                <span>You haven't uploaded any tracks yet. </span>
                <a routerLink="/upload/track">Publish your first track now!</a>
            </p>
        </div>
    </section>
</main>