<h2>For Which Audio?</h2>
<p>Please select the audio which you are selecting a multi track for:</p>

<div mat-dialog-content>
    <mat-nav-list *ngFor="let upload of data">
        <a mat-list-item [mat-dialog-close]="upload.code">{{upload.file.name}}</a>
    </mat-nav-list>
</div>