@import '../../../styles/abstracts/mixins';

.page-content {
    padding: 48px 0;
    padding-top: 0;

    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .section-header-subtitle {
        opacity: .78;
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.mat-toolbar {
    background: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 2px 0px rgba(168, 168, 168, 1);
}

section.container {
    margin-top: 32px;
}

.add-button-mobile {
    width: 100%;
    margin-top: 8px;
}

.add-button-desktop {
    display: none;
}

.categories-field,
.mat-input-element {
    cursor: pointer;
}

.container.toolbar {
    display: flex;
    justify-content: space-between;
    font-weight: 300;

    button {
        min-width: 100px
    }
}

.mat-chip {
    background-color: rgba($color: #fff, $alpha: 0.2);
}

.tap-body-space {
    margin-top: 32px;
}

.upload-tab-icon {
    margin-right: 16px;
}

.field-row {
    display: flex;
    width: 100%;
    flex-direction: column;

    >mat-form-field {
        flex: 1;
        margin-bottom: 12px;
        margin-right: 8px;
        display: inline-block;
        min-width: unset;
    }

    textarea {
        max-width: 100%;
    }
}

.audio-placeholder {
    display: none;
    align-items: center;
    justify-content: center;

    padding: 16px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.5);
    background-color: rgba($color: #fff, $alpha: 0.05);

    >span {
        max-width: 80%;
    }

    &:hover {
        cursor: pointer;
    }
}

.upload-actions {
    display: flex;
    margin-top: 24px;
    align-items: stretch;
    flex-direction: column-reverse;
    justify-content: flex-end;

    button {
        min-width: 250px;
        margin-bottom: 16px;

        .button-title {
            display: inline-block;
            margin: 0 8px;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .field-row {
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .field-row {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .field-row {
        flex-direction: row;
    }
}

@include for-tablet-landscape-up {
    .audio-placeholder {
        display: flex;
    }

    .add-button-mobile {
        display: none;
    }

    .add-button-desktop {
        display: block;
    }

    .upload-actions {
        flex-direction: row;

        button {
            margin-left: 16px;
        }
    }
}

@include for-desktop-up {
    .page-content {
        padding: 48px 0;
    }
}