<div class="page-content" *ngIf="!hasError">
    <section class="container">
        <h2>Submit Your Track</h2>
        <p class="section-header-subtitle">Learn more by visiting this page.</p>
        <mat-tab-group [animationDuration]="'200ms'">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="upload-tab-icon">music_note</mat-icon>
                    <span>A Free Beat</span>
                </ng-template>

                <div class="field-row tap-body-space" [formGroup]="form">
                    <mat-form-field appearance="legacy">
                        <mat-label>Title</mat-label>
                        <input required formControlName="title" matInput>
                        <mat-error>Please provide a title for your track</mat-error>
                        <mat-hint>People might search your track with this name.</mat-hint>
                    </mat-form-field>

                    <mat-form-field [floatLabel]="!selectedCategories.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onCategories()">
                        <input readonly required matInput placeholder="Select Categories"
                            [value]="selectedCategoriesText(2)">
                        <mat-hint>Click on the field to select categories</mat-hint>
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field [floatLabel]="!selectedGenres.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onGenre()">
                        <input readonly required matInput placeholder="Select Genres" [value]="selectedGenresText(2)">
                        <mat-hint>Click on the field to select genres</mat-hint>
                    </mat-form-field>

                    <mat-form-field [floatLabel]="!selectedTags.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onTag()">
                        <input readonly matInput placeholder="Select Tags" [value]="selectedTagsText(2)">
                        <mat-hint>Not required, but helps you getting more views</mat-hint>
                    </mat-form-field>
                </div>

                <div class="field-row" [formGroup]="form">
                    <mat-form-field appearance="legacy">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput rows="1"></textarea>
                        <mat-hint>Add any other kind of information about this track</mat-hint>
                    </mat-form-field>
                </div>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="upload-tab-icon">euro</mat-icon>
                    <span>Beat For Sell</span>
                </ng-template>

                <div class="field-row tap-body-space" [formGroup]="form">
                    <mat-form-field appearance="legacy">
                        <mat-label>Title</mat-label>
                        <input required formControlName="title" matInput>
                        <mat-error>Please provide a title for your track</mat-error>
                        <mat-hint>People might search your track with this name.</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                        <mat-label>Price</mat-label>
                        <input required formControlName="price" matInput>
                        <mat-error>Please provide a title for your track</mat-error>
                        <mat-hint>How does this beat cost in Toman?</mat-hint>
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field [floatLabel]="!selectedCategories.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onCategories()">
                        <input readonly matInput placeholder="Select Categories" [value]="selectedCategoriesText(2)">
                        <mat-hint>Click on the field to select categories</mat-hint>
                    </mat-form-field>

                    <mat-form-field [floatLabel]="!selectedGenres.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onGenre()">
                        <input readonly matInput placeholder="Select Genres" [value]="selectedGenresText(2)">
                        <mat-hint>Click on the field to select genres</mat-hint>
                    </mat-form-field>

                    <mat-form-field [floatLabel]="!selectedTags.length ? 'never' : 'always'" appearance="legacy"
                        class="categories-field" (click)="onTag()">
                        <input readonly matInput placeholder="Select Tags" [value]="selectedTagsText(2)">
                        <mat-hint>Click on the field to select tags</mat-hint>
                    </mat-form-field>
                </div>

                <div class="field-row" [formGroup]="form">
                    <mat-form-field appearance="legacy">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput rows="1"></textarea>
                        <mat-hint>Add any other kind of information about this track</mat-hint>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>

    <section class="container">
        <input type='file' accept='.mp3' #audioInput style="display: none" (change)="onAudioFileInputChange($event)">
        <h2>
            <span>Add Audio Files *</span>
            <button class="add-button-desktop" mat-stroked-button color="primary" (click)="audioInput.click()">
                Add Audio
            </button>
        </h2>
        <p class="section-header-subtitle">To delete a uploaded audio. Click on it.</p>

        <div *ngIf="!this.audioMediaUploads.length" class="audio-placeholder" (click)="audioInput.click()">
            <span>There is no audio selected yet. Click Here to add one!</span>
        </div>

        <lb-upload-media-item *ngFor="let amu of this.audioMediaUploads; index as i" [uploadMedia]="amu"
            (click)="removeAudioMediaUpload(i)"></lb-upload-media-item>

        <button class="add-button-mobile" mat-stroked-button color="primary" (click)="audioInput.click()">
            Add Audio
        </button>
    </section>

    <section class="container">
        <input type='file' accept='.zip' #multiTrackInput style="display: none"
            (change)="onMultiTrackFileInputChange($event)">
        <h2>
            <div>Add Multi Track Files *</div>
            <button mat-stroked-button color="primary" (click)="onAddZip(multiTrackInput)" class="add-button-desktop">
                Add Zip File
            </button>
        </h2>
        <p class="section-header-subtitle">To delete a uploaded file. Click on it.</p>

        <div *ngIf="!this.multiTrackMediaUploads.length" class="audio-placeholder" (click)="multiTrackInput.click()">
            <span>There is no zip file selected yet. Click Here to add one!</span>
        </div>

        <lb-upload-media-item *ngFor="let amu of this.multiTrackMediaUploads; index as i" [uploadMedia]="amu"
            (click)="removeMultiTrackMediaUpload(i)">
        </lb-upload-media-item>

        <button class="add-button-mobile" mat-stroked-button color="primary" (click)="multiTrackInput.click()">
            Add Zip File
        </button>
    </section>

    <section class="container">
        <input type='file' accept='.jpg,.jpeg' #pictureInput style="display: none"
            (change)="onPictureFileInputChange($event)">
        <h2>
            <div>Add The Cover *</div>
            <button mat-stroked-button color="primary" (click)="pictureInput.click()" class="add-button-desktop">
                <span *ngIf="!this.pictureMediaUploads.length">Add Cover</span>
                <span *ngIf="this.pictureMediaUploads.length">Replace</span>
            </button>
        </h2>
        <p class="section-header-subtitle">To delete a uploaded cover. Click on it.</p>

        <div *ngIf="!this.pictureMediaUploads.length" class="audio-placeholder" (click)="pictureInput.click()">
            <span>There is no picture selected yet. Click Here to add one!</span>
        </div>

        <lb-upload-media-item *ngFor="let amu of this.pictureMediaUploads; index as i" [uploadMedia]="amu"
            (click)="removePictureMediaUpload(i)"></lb-upload-media-item>

        <button class="add-button-mobile" mat-stroked-button color="primary" (click)="pictureInput.click()">
            Add Picture
        </button>
    </section>

    <section class="container">
        <div class="upload-actions">
            <button mat-stroked-button color="primary" (click)="onCancel()">
                <mat-icon>close</mat-icon>
                <span class="button-title">Go Back</span>
            </button>
            <button mat-flat-button color="primary" (click)="onSubmit()">
                <mat-icon>file_upload</mat-icon>
                <span class="button-title">Submit Track</span>
            </button>
        </div>
    </section>
</div>

<div class="page-content" *ngIf="hasError">
    <section class="container">
        <h2>
            <div class="center">
                <mat-icon style="margin-right: 16px;">person</mat-icon>Something went wrong!
            </div>
        </h2>
        <p>There is some technical problems happening we will try to fix it ASAP!</p>
        <button (click)="getData()" color="primary" style="margin-right: 16px;" mat-flat-button>Try Again</button>
        <a mat-flat-button href="/">Let's Go Back</a>
    </section>
</div>