.profile-container {
    padding: 32px;
    min-height: 100vh;

    >form {
        width: 350px;
        max-width: 100%;
    }

    mat-form-field {
        margin-bottom: 18px;
    }
}

.profile-row {
    display: flex;
    flex-direction: column;


    mat-form-field {
        flex: 1;
    }

    mat-form-field:not(:last-child) {
        margin-right: 8px;
    }
}

.action-container {
    margin: 16px 0;

    button {
        min-width: 150px;
    }
}

.spinner-container {
    position: relative;
    bottom: 3px;
    right: 5px;
}

.red-hint {
    color: #f44336;
}