<div class="profile-container center">
    <form [formGroup]="form" (submit)="onSubmit()">
        <h1>Setup Your Profile</h1>
        <p>
            Now it's time to setup your LoxaBeat profile. Please provide the details below and choose a unique username
            for yourself.
        </p>

        <div class="profile-row">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" spellcheck="false" name="username">
                <mat-error *ngIf="form.controls['username'].invalid && !form.value['username']">
                    Username should be more than 4 characters.</mat-error>
                <mat-error *ngIf="form.controls['username'].invalid && form.value['username']">
                    <span *ngIf="form.controls['username']?.errors?.['usernameValid'] else minErr">
                        Username can only have a-z and 0-9 characters
                    </span>
                    <ng-template #minErr>
                        Username should be more than 4 characters.
                    </ng-template>
                </mat-error>

                <mat-hint>
                    <span class="red-hint"
                        *ngIf="form.value['username'] && !usernameLoading && !isUsernameAvailable else otherHint">
                        This username is taken! Try something else.
                    </span>
                    <ng-template #otherHint>
                        <span
                            *ngIf="form.value['username'] && form.controls['username'].valid && isUsernameAvailable else defaultHint">
                            Wow, this username is available!
                        </span>
                        <ng-template #defaultHint>
                            Username can only have a-z and 0-9
                        </ng-template>
                    </ng-template>
                </mat-hint>

                <div *ngIf="form.controls['username'].valid && usernameLoading" class="spinner-container" matSuffix>
                    <mat-spinner [diameter]="23"></mat-spinner>
                </div>

                <mat-icon matSuffix
                    *ngIf="form.controls['username'].valid && form.value['username'] && !usernameLoading && isUsernameAvailable">
                    done
                </mat-icon>
                <mat-icon matSuffix color="warn"
                    *ngIf="form.controls['username'].valid && form.value['username'] && !usernameLoading && !isUsernameAvailable">
                    close
                </mat-icon>

            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name" type="text" name="first_name">
                <mat-error>Please enter your first name</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" type="text" name="last_name">
                <mat-error>Please enter your last name</mat-error>
            </mat-form-field>
        </div>

        <div class="action-container">
            <button mat-flat-button color="primary" type="submit">
                <span *ngIf="isLoading">Please wait...</span>
                <span *ngIf="!isLoading">Let's Go</span>
            </button>
        </div>

        <div class="auth-container__footer">
            <p>
                <span>Do you have any questions? Send an email to </span>
                <a href="mailto:loxabeat@gmail.com">loxabeat@gmail.com</a>
                <span>.</span>
            </p>
        </div>
    </form>
</div>