.lb-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c1c1c;
    overscroll-behavior: contain;
}

.mat-sidenav {
    width: 250px;
}

.mat-sidenav-content {
    padding-top: 64px;
}