<mat-sidenav-container class="lb-sidenav-container">
    <mat-sidenav mode="over" [(opened)]="isSidenavOpen">
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="isSidenavOpen = false">Home</a>
            <a mat-list-item routerLink="/upload/track" (click)="isSidenavOpen = false">Upload</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>logout</mat-icon>
                <span>Sign Out</span>
            </button>
        </mat-menu>
        <lb-navbar (menu)="onMenu()">
            <div class="lb-navbar__menu-list">
                <a lb-navbar-option [routerLink]="'/u/' + username">Home</a>
                <a lb-navbar-option routerLink="/upload/track">Upload</a>
            </div>

            <div class="lb-user-info" [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </lb-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>