<h1 mat-dialog-title>Select Genres</h1>
<p>Click on each genre to select it:</p>

<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="query" (ngModelChange)="queryChange()">
</mat-form-field>

<div mat-dialog-content *ngIf="filteredGenres.length">
    <mat-selection-list>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let genre of filteredGenres">
            <mat-list-option (selectedChange)="selectionChange(genre, $event)" [selected]="genre._selected"
                [checkboxPosition]="'before'" [value]="genre">
                <span class="title">{{genre.title}}</span>
            </mat-list-option>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-selection-list>
</div>

<div mat-dialog-content *ngIf="!filteredGenres.length">
    <p *ngIf="!genres">
        No genre found!
    </p>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="close(true, selectedGenres)">Submit</button>
    <button mat-button (click)="close(false)">Cancel</button>
</div>