.not-found-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    h1 {
        margin: 0px;
    }

    p {
        margin: 8px;
    }

    a {
        margin-top: 16px;
        min-width: 150px;
    }
}