<h1 mat-dialog-title>Select Categories</h1>
<p>Click on each category to select it:</p>

<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="query" (ngModelChange)="queryChange()">
</mat-form-field>

<div mat-dialog-content *ngIf="filteredCategories.length">
    <mat-selection-list>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let category of filteredCategories">
            <mat-list-option (selectedChange)="selectionChange(category, $event)" [selected]="category._selected"
                [checkboxPosition]="'before'" [value]="category">
                <span class="title">{{category.title}}</span>
            </mat-list-option>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-selection-list>
</div>

<div mat-dialog-content *ngIf="!filteredCategories.length">
    <p *ngIf="!categories">
        No category found!
    </p>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="close(true, selectedCategories)">Submit</button>
    <button mat-button (click)="close(false)">Cancel</button>
</div>